!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LittleShop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav
      %ul
        %li=link_to "View Cart", carts_path
        %li=render partial: "/layouts/#{current_guest}"
            
    -flash.each do |name, message|
      %div.flash=sanitize(message)

    = yield
